port: 3000

keyProviders:
  myORKey:
    type: "literal"
    key: "sk-or-made-up-key"

modelProviders:
  gpt-4.1:
    type: "openrouter"
    modelName: "openai/gpt-4.1"
    keyProvider: "myORKey"
  gpt-4o:
    type: "openrouter"
    modelName: "openai/gpt-4o"
    keyProvider: "myORKey"
  gpt-4.1-mini:
    type: "openrouter"
    modelName: "openai/gpt-4.1-mini"
    keyProvider: "myORKey"
  random-gpt:
    type: "random"
    modelList:
      - gpt-4.1
      - gpt-4o
      - gpt-4.1-mini

